@import "tailwindcss";

@theme {
  --color-primary: #0057c2;
  --color-primary-container: #006ef2;
  --color-primary-fixed: #d9e2ff;
  --color-on-primary-fixed-variant: #004398;
  --color-secondary: #525f73;
  --color-tertiary: #9e3d00;
  --color-tertiary-fixed: #ffdbcc;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-surface: #f9f9f9;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f3f3;
  --color-surface-container: #eeeeee;
  --color-surface-container-high: #e8e8e8;
  --color-surface-container-highest: #e2e2e2;
  --color-on-surface: #1a1c1c;
  --color-on-surface-variant: #414755;
  --color-outline: #727786;
  --color-outline-variant: #c1c6d7;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .glass-panel {
    backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 0.85);
  }
}
